<p>Enter number 1 :{{input value=this.num1 type="text" }}</p>
<p>Enter number 2 :{{input value=this.num2 type="text" }}</p>
<p>Sum: {{input value=this.x}}</p>
<!-- <p><button type="submit" {{action "add"}}>Add</button></p> -->
{{yield}}
